@model EntityLayer.Concrete.Blog

@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1 style="color: rgb(255, 105, 180);">Blog Düzenle</h1>

@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
    @Html.Label("İD")
    @Html.TextBoxFor(x => x.BlogId, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Küçük Görsel")
    @Html.TextBoxFor(x => x.BlogMinImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.cl, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Güncelle</button>
}